:root{
    --input-linear:linear-gradient(120deg,#E75590,#00C2CB);
    --button-linear:linear-gradient(120deg,#E75590,#00C2CB,#E75590);
    --input-error:red;
    --button-disabled:gray;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login{
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container{
    min-height: 400px;
    width: 300px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.login_title{
    margin-bottom: 32px;
    color: #303030;
}
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    /*tirar a borda do input*/
    border: unset;
    /*tira a caixa de realce azul do input ao clicar nele*/
    outline: none;
}
.login_input-border{
    height: 1px;
    width: 100%;                                    
    margin-bottom: 16px;
    transition: .3s ease-in-out;    
    background-color: #cfcfcf;                                                                                                  
}
.login_input-border::after{
    content: '';
    display: block; 
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background:var(--input-linear);
    transition: .3s ease-in-out;    


}
.login_submit{
    height: 48px;
    width: 100%;
    outline: none;
    background:var(--button-linear);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;


}

.login_reset{   
    font-size: 16px;
    color: #929292; 
    text-decoration: none;
}

/*animaçoes*/   
.login_input:focus + .login_input-border::after{
    width: 100%;
}  

/*invertendo a orientacao do gradiente ao passar o mouse*/  
.login_submit:hover{
    background-position: right;
}   




.login_input-border.error{
     background-color: var(--input-error);   
}
.login_input-border.error::after{
    background-color: var(--input-error);   
}
.login_submit:disabled{
    background:var(--button-disabled);
    cursor: not-allowed;
}
